*, *:before , *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center; 
    width: 100%;
    height: 130%;
    scroll-behavior: smooth;
    /* justify-content: center;
    align-items: center; */ 
}


/*--------------------Footer Icons-----------------*/

.page-footer{
    background-color: rgb(54, 52, 52);
    color: white;
}

.social-media a{
    padding: 20px;
  font-size: 14px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: none;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* border-radius: 50%; */
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .font-weight-bold{
      color: rgb(173, 114, 95);
  }
  

/*-----------------Footer-end-----------------------------------*/

/* input , button{
    border:none;
    outline: none;
    background: none;
} */

/*-----------------------Form Layout---------------------------*/



.cont{
    width: 940px;
    height: 840px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
    position: relative;
    left: 25%;
    opacity: 0.92;
    background-color: #DEE0F5;
    border-radius: 2rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    
    
}
.form{
    
    position: relative;
    width: 750px;
    height: 130%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out , -webkit-transform 1.2s ease-in-out;
    border-radius: 2rem;
}

h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

label{
    display: block;
    width: 260px;
  
    margin: 25px auto;
    

}

label span{

    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-align: center;
    text-transform: uppercase;

}

input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size:16px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(109,93,93,0.4);
    text-align: center;
    border: #0c0101;
}




input,button{
    border:none;
    /* outline: none; */
    /* background: none; */
    background: #e7e6e6;
}

button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.submit{
    margin-top:40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(left,#e4a45c,#e0c4a4);
    transition: ease-in-out;
    transition: 0.3s;
}
.submit:hover{
    background: -webkit-linear-gradient(left, #e0c4a4 , #e4a45c);
    transition: 0.3s;
}
.forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size:14px;
    font-weight: 600;
    color:#0c0101;
    cursor: pointer;
}
.forgot-pass:hover{
    cursor: pointer;
    color: rgb(175, 98, 74);
}

.social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media ul{
    list-style: none;
  }
  
  .social-media ul li{
    display: flex;
    cursor: pointer;
    margin: 25px 15px;
  }
  
  .social-media img{
    width: 40px;
    height: 40px;
  }

/*--------------------sub-content---------------------*/

.sub-cont{
    overflow: hidden;
    position: absolute;
    left: 600px;
    top: 0;
    width: 940px;
    height: 110%;
    padding-left: 260px;
    background: #DEE0F5;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
    border-radius: 0rem 2rem 2rem 0rem;


}

.cont.s-signup .sub-cont{
    -webkit-transform: translate3d(-640px,0,0);
    transform: translate3d(-640px,0,0);

}

.img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    height: 100%;
    padding-top: 200px ;
}

.img:before{
    content: '';
    position: absolute;
    right:0;
    top:0;
    width: 960px;
    height: 100%;
    background-image:url(slider.jpg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, 
    -webkit-transform 1.2s ease-in-out;

    background-repeat: no-repeat;
    background-position: center;
}

.img:after{
    content:'';
    position: absolute;
   
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.cont.s-signup .img:before{
    -webkit-transform: translate3d(640px,0,0);
    transform: translate3d(640px,0,0);
}



.img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: white;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;

}

.img-text h2{
    top: 10%;
    margin-bottom: 10px;
    font-weight: normal;
}
.img-text p{
    top:10%;
    font-size: 14px;
    line-height:1.5 ;
}

.cont.s-signup .img-text.m-up{
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
    
}
.img-text.m-in{
    
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
                    
}
.cont.s-signup .img-text.m-in{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
}


.img-text.m-in h2{
    font-size: 15px;
}
.img-text.m-in p{
    font-size: 12px;
}


.sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function: ease-out;


}
.cont.s-signup .sign-in{
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
            transition-duration:1.2s ;
    -webkit-transform: translate3d(6640px,0, 0);
    transform: translate3d(6640px,0, 0);
}

.img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    top: 35%;
}

.img-btn:after{

    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}



.img-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }

.cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(2);
            transform:translateY(2);
  }

.cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  


/*--------------------Sign-Up-----------------*/

.sign-up{
    -webkit-transform:translate3d(-900px, 0 ,0);
            transform: translate3d(-900px, 0, 0);
            top: 0;
}

.cont.s-signup .sign-up{
    -webkit-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
}





/*---------google button-----------------------*/


.title{
   font-family:  "Comic Sans MS", cursive, sans-serif;
   color: rgb(220, 220, 243);
   font-size: 30pt;
}



/*----------------------------Home page design----------*/


.errorMessage{
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

